<?xml version="1.0"?>
<robot name="arm">
  
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.5 0.3" />
      </geometry>
    </visual>
  </link>
<!-- first part-->
  <link name="rot_1_z">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.15" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.2"/>
    </visual>
  </link>

  <link name="rot_1_x">
    <visual>
      <geometry>
        <cylinder length="0.3" radius="0.05" />
      </geometry>
      <origin rpy="0 1.5708 0" xyz="0 0 0.3"/>
    </visual>
  </link>

  <link name="arm_1">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.3" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.5"/>
    </visual>
  </link>

  <!-- second part-->
  <link name="rot_2_z">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.15" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.7"/>
    </visual>
  </link>

  <link name="rot_2_x">
    <visual>
      <geometry>
        <cylinder length="0.3" radius="0.05" />
      </geometry>
      <origin rpy="0 1.5708 0" xyz="0 0 0.8"/>
    </visual>
  </link>

  <link name="arm_2">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.7" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 1.2"/>
    </visual>
  </link>

  <!-- Third part-->
  <link name="rot_3_z">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.15" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 1.6"/>
    </visual>
  </link>

  <link name="rot_3_x">
    <visual>
      <geometry>
        <cylinder length="0.3" radius="0.05" />
      </geometry>
      <origin rpy="0 1.5708 0" xyz="0 0 1.7"/>
    </visual>
  </link>

  <link name="arm_3_gripper">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.7" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 2.1"/>
    </visual>
  </link>

  <!-- Gripper part-->
  <link name="gripper_arm">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0 " xyz="0 0 2.5"/>
    </visual>
  </link>

  <link name="right_gripper">
    <visual>
      <origin rpy="-3.1415 -1.5708 0" xyz="0 -0.02 2.6"/>
      <geometry>
        <mesh filename="package://robot_arm/meshes/l_finger.dae" scale="4 4 4"/>
      </geometry>
    </visual>
  </link>

  <link name="left_gripper">
    <visual>
      <origin rpy="0.0 -1.5708 0" xyz="0 0.02 2.6"/>
      <geometry>
        <mesh filename="package://robot_arm/meshes/l_finger.dae" scale="4 4 4"/>
      </geometry>
    </visual>
  </link>

  <!-- Joint - First part-->
  <joint name="base_to_rot_1_z" type="fixed" >
    <parent link="base_link"/>
    <child link="rot_1_z"/>
  </joint>
  <joint name="rot_1_z_to_rot_1_x" type="fixed">
    <parent link="rot_1_z"/>
    <child link="rot_1_x"/>
  </joint>
  <joint name="rot_1_x_to_arm_1" type="fixed">
    <parent link="rot_1_x"/>
    <child link="arm_1"/>
  </joint>

  <!-- Joint - Second part-->
  <joint name="arm_1_rot_2_z" type="fixed">
    <parent link="arm_1"/>
    <child link="rot_2_z"/>
  </joint>
  <joint name="rot_2_z_to_rot_2_x" type="fixed">
    <parent link="rot_2_z"/>
    <child link="rot_2_x"/>
  </joint>
  <joint name="rot_2_x_to_arm_2" type="fixed">
    <parent link="rot_2_x"/>
    <child link="arm_2"/>
  </joint>

  <!-- Joint - Third part-->
  <joint name="arm_2_rot_3_z" type="fixed">
    <parent link="arm_2"/>
    <child link="rot_3_z"/>
  </joint>
  <joint name="rot_3_z_to_rot_3_x" type="fixed">
    <parent link="rot_3_z"/>
    <child link="rot_3_x"/>
  </joint>
  <joint name="rot_3_x_to_arm_3_gripper" type="fixed">
    <parent link="rot_3_x"/>
    <child link="arm_3_gripper"/>
  </joint>

    <!-- Joint - Gripper part-->
    <joint name="gripper_joint" type="fixed">
      <parent link="arm_3_gripper"/>
      <child link="gripper_arm"/>
    </joint>
    <joint name="left_gripper_joint" type="fixed">
      <parent link="gripper_arm"/>
      <child link="left_gripper"/>
    </joint>
    <joint name="right_gripper_joint" type="fixed">
      <parent link="gripper_arm"/>
      <child link="right_gripper"/>
    </joint>
  
</robot>